@charset "UTF-8";
html, body {
  height: 100%; }

/**
清除內外邊距
**/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td,
img {
  /* img elements 圖片元素 */
  border: medium none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/** 設置預設字體 **/
body, button, input, select, textarea {
  font: 12px/1.5 '微軟正黑體' ,tahoma, Srial, helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

em {
  font-style: normal; }

/* 重置清單元素 */
ul, ol {
  list-style: none; }

/* 重置超連結元素 */
a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline;
  color: white; }

/* 重置圖片元素 */
img {
  border: 0px; }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

.camera, .picture-container, #map, #story, .story-box, #snapShot {
  height: 100%;
  width: 100%; }

.left-nav, .picture-container, #map, #story, .story-box, #snapShot {
  position: absolute;
  top: 0px; }

.left-nav-div > div, .left-nav-div img {
  width: 75px;
  height: 75px; }

.picture-container-body > div, .picture-container-body img, .story-footer > div, .story-box-footer > div, .story-footer img, .story-box-footer img {
  width: 85px;
  height: 85px; }

body {
  overflow: hidden;
  background-color: #AACAC1;
  background: -webkit-linear-gradient(left, #AACAC1, #45928E);
  background: -o-linear-gradient(right top, #AACAC1, #45928E);
  background: -moz-linear-gradient(right top, #AACAC1, #45928E);
  background: linear-gradient(to right top, #AACAC1, #45928E); }

.head-bar {
  width: 100%;
  height: 60px;
  line-height: 75px;
  color: white;
  font-size: 1.6em;
  text-align: center; }
  .head-bar > li {
    list-style-image: url("../../newImg/back.png");
    position: absolute;
    left: 10px;
    top: -5px; }

.head-big-bar {
  width: 100%;
  height: 120px;
  color: white;
  font-size: 1.6em;
  text-align: center; }
  .head-big-bar > li {
    list-style-image: url("../../newImg/back.png");
    position: absolute;
    left: 10px;
    top: -5px;
    top: 20px; }
  .head-big-bar > img {
    margin-top: 20px; }
  .head-big-bar > p {
    font-weight: 100; }

#intro-map {
  position: absolute;
  z-index: 1010;
  background: url("../../img2/map1.png") no-repeat center;
  background-size: 100% auto;
  opacity: 0.7;
  top: 60px;
  height: 70%;
  width: 100%; }

#intro-map-close {
  position: absolute;
  right: 25px;
  top: 25px; }

/************** camera ************/
.camera {
  position: relative;
  text-align: center;
  z-index: 10;
  transition: all ease 0.2s; }

#video {
  height: 70%; }

.camera-sub {
  display: flex;
  justify-content: center; }

#snap {
  border-radius: 50%;
  border: 5px solid #BDD1C1;
  width: 65px;
  height: 65px;
  margin: 1.5em auto auto auto;
  background-color: white;
  z-index: 10; }

.sub-map, .sub-box {
  margin: 1.5em auto auto auto;
  width: 70px;
  height: 70px;
  position: relative;
  top: 5px;
  background: url("../../img2/mapbtn.png") no-repeat;
  background-size: 101%; }

.sub-box {
  background: url("../../newImg/story-box.svg") no-repeat;
  background-size: 70%; }

.left-nav {
  background-color: #BDD1C1;
  height: 100%;
  left: -40%;
  width: 40%;
  text-align: center;
  z-index: 12;
  font-size: 1.2em;
  overflow-y: hidden;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  transition: all ease 0.2s; }

.left-nav-div {
  height: 90%;
  overflow-y: scroll; }
  .left-nav-div > div {
    margin: 18px auto;
    border: 2px white solid; }

#more-photo {
  font-size: 1.5em;
  height: 60px;
  color: white; }

/* picture-container */
.picture-container, #map, #story, .story-box {
  left: 100%;
  z-index: 11;
  background: -webkit-linear-gradient(left, #AACAC1, #45928E);
  background: -o-linear-gradient(right top, #AACAC1, #45928E);
  background: -moz-linear-gradient(right top, #AACAC1, #45928E);
  background: linear-gradient(to right top, #AACAC1, #45928E);
  transition: all ease 0.2s; }

.picture-container-header, .map-header {
  width: 100%;
  height: 60px;
  line-height: 75px;
  color: white;
  font-size: 1.6em;
  text-align: center; }
  .picture-container-header > li, .map-header > li {
    list-style-image: url("../../newImg/back.png");
    position: absolute;
    left: 10px;
    top: -5px; }

.picture-container-body {
  height: -webkit-calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: calc(100% - 70px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  display: inline-flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 10px;
  overflow-y: scroll; }
  .picture-container-body > div {
    margin: 5px 5px; }

/* map-container */
.map-body {
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  height: calc(100% - 60px);
  width: 100%; }

/* story-container */
.story-body, .story-box-body {
  height: -webkit-calc(100% - 225px);
  height: -moz-calc(100% - 225px);
  height: calc(100% - 225px);
  width: -webkit-calc(100% - 2em);
  width: -moz-calc(100% - 2em);
  width: calc(100% - 2em);
  padding: 2em 1em 1em 1em; }

.story-content, .story-box-content {
  height: 100%;
  font-size: 1.2em;
  border-bottom: white 2px solid; }

.story-content-img, .story-box-content-img {
  height: 55%;
  text-align: center; }
  .story-content-img > img, .story-box-content-img > img {
    height: 100%; }

.story-content-text {
  text-align: center;
  height: 45%;
  overflow-y: scroll; }
  .story-content-text > #story-self-title, .story-content-text #story-self-content {
    text-align: center;
    width: 90%;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 20px;
    padding: 3px 5px; }

#story-self-title {
  font-size: 18px;
  height: 30px; }

#story-self-content {
  font-size: 14px; }

#story-self-title::-webkit-input-placeholder, #story-self-content::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

.story-footer, .story-box-footer {
  overflow-x: scroll;
  display: inline-flex;
  height: 75px;
  width: 100%; }
  .story-footer > div, .story-box-footer > div {
    margin: 5px 5px;
    background-color: #c0d5c4;
    width: 55px;
    height: 55px;
    transition: border 0.1s linear; }
  .story-footer img, .story-box-footer img {
    width: 55px;
    height: 55px; }

.story-show {
  border: red 3px solid !important; }

/* story-box */
.locked {
  height: 34%;
  width: 92%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  justify-content: center;
  align-items: center; }

.story-box-content-text {
  text-align: center;
  height: 45%;
  overflow-y: scroll; }
  .story-box-content-text > #story-box-title, .story-box-content-text #story-box-content {
    text-align: center;
    width: 90%;
    color: white;
    margin: 10px auto auto auto; }

#story-box-title {
  font-size: 18px; }

/* 拍照後的check */
#snapShot {
  display: none;
  z-index: 12; }

.snapShot-check {
  background-color: #AACAC1;
  height: 20%;
  text-align: center;
  display: flex;
  align-items: center; }
  .snapShot-check img {
    width: 40%; }

/*# sourceMappingURL=camera.css.map */
