@charset "UTF-8";
html, body {
  height: 100%; }

/**
清除內外邊距
**/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td,
img {
  /* img elements 圖片元素 */
  border: medium none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/** 設置預設字體 **/
body, button, input, select, textarea {
  font: 12px/1.5 '微軟正黑體' ,tahoma, Srial, helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

em {
  font-style: normal; }

/* 重置清單元素 */
ul, ol {
  list-style: none; }

/* 重置超連結元素 */
a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline;
  color: #F40; }

/* 重置圖片元素 */
img {
  border: 0px; }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

img {
  width: auto;
  height: auto; }

body {
  background-color: #E9E3D7;
  overflow: hidden; }

#modal, .intro-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#modal, .intro-container, .intro-box {
  height: 100%;
  width: 100%; }

/*************** 主頁面 *****************/
#modal form, .input-group > input, .button {
  text-align: center;
  font-size: 16px;
  color: #595757; }

#modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  background-color: #E9E3D7; }
  #modal > img {
    width: 150px; }

.input-group {
  margin-bottom: 10px; }
  .input-group > input {
    margin: auto;
    padding: 6px 8px;
    border: none; }
    .input-group > input:focus {
      outline: none; }
      .input-group > input:focus ~ .bar:before, .input-group > input:focus ~ .bar:after {
        width: 50%;
        background-color: #41637C; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0px;
  bottom: 0px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

.button {
  width: 100px;
  height: 35px;
  line-height: 35px;
  background-color: #c0d5c4;
  border-radius: 25px; }

#sign-status {
  margin-top: 10px;
  color: #41637C; }

/*************** swier 屬性 *****************/
.intro-container {
  text-align: center; }

/************** intro1 *********************/
.intro1-content {
  display: flex;
  width: 73%;
  height: 50px;
  margin-top: 20px; }
  .intro1-content div:nth-child(1) {
    width: 55px; }

.intro1-text {
  margin: auto; }
  .intro1-text > p {
    line-height: 25px;
    font-weight: bold; }
  .intro1-text p:nth-child(1) {
    font-size: 16px; }
  .intro1-text p:nth-child(2) {
    font-size: 14px; }

.intro1-content:nth-child(1) > .intro1-img {
  background: url("../../img2/2-1.png") no-repeat center;
  background-size: contain; }

.intro1-content:nth-child(2) > .intro1-img {
  background: url("../../img2/2-2.png") no-repeat center;
  background-size: contain; }

.intro1-content:nth-child(3) > .intro1-img {
  background: url("../../img2/2-3.png") no-repeat center;
  background-size: contain; }

.intro1-content:nth-child(4) > .intro1-img {
  background: url("../../img2/2-4.png") no-repeat center;
  background-size: contain; }

/************** intro2 *********************/
#intro2-head-bar {
  width: 100%;
  background-color: #c0d5c4;
  height: 60px;
  line-height: 60px;
  color: #4A544B;
  font-size: 2em;
  text-align: center; }

.intro2-content {
  padding: 1em 0px;
  color: rgba(255, 255, 255, 0.83); }

.intro2-title {
  cursor: pointer;
  padding: 6px 0px;
  font-size: 1.6em; }

.intro2-content-body {
  height: 0px;
  opacity: 0px; }
  .intro2-content-body > .intro2-detail, .intro2-content-body > .intro2-button {
    display: none; }

.intro2-content-show > .intro2-content-body {
  height: 90px;
  opacity: 1;
  transition: all 0.2s ease-in; }
.intro2-content-show .intro2-detail {
  display: block;
  width: 90%;
  margin: 1em auto auto auto; }
.intro2-content-show .intro2-button {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: white 1px solid;
  border-radius: 18px;
  margin: 0.8em auto auto auto; }

.intro2-content:nth-child(1) {
  background-color: #41637C; }

.intro2-content:nth-child(2) {
  background-color: #459793; }

.intro2-content:nth-child(3) {
  background-color: #5DB9B6; }

#intro2-content-image-1 {
  background: transparent url("../../img2/1.png") no-repeat center;
  height: 100px; }

#intro2-content-image-2 {
  background: transparent url("../../img2/2.png") no-repeat 120px 0%;
  height: 100px; }

#intro2-content-image-3 {
  background: transparent url("../../img2/3.png") no-repeat center;
  height: 100px; }

/*# sourceMappingURL=index.css.map */
