$header-bar-height: 60px;
$header-font-color:white;
$header-font-size:1.6em;

$header-big-bar-height: 2*$header-bar-height;

@mixin headeBar{
	width: 100%;
	height: $header-bar-height;
	line-height: $header-bar-height;
	color:$header-font-color;
	font-size:$header-font-size;
	text-align:center;
}

@mixin headBar-back{
	list-style-image: url('../../img2/backbtn.png');
	position:absolute;
	left:10px;
	top:5px;
}

@mixin headBigBar{
	width: 100%;
	height: $header-big-bar-height;
	color:$header-font-color;
	font-size:$header-font-size;
	text-align:center;
}