@import './reset';
@import './headBar';

$background-color:#AACAC1;
$camera-snap-width:65px;

$left-nav-width:40%;
$left-nav-color:#BDD1C1;
$left-nav-div-width:75px;

$head-height:60px;
$head-bar-color:#c0d5c4;

$camera-z-index:10;

$font-color:white;
$font-size:1.2em;

@mixin background-linear-gradient($colorSTART , $colorEND , $direction){
	@if $direction == left {
		background: -webkit-linear-gradient(right , $colorSTART, $colorEND);
	}
	@else if $direction  == right {
		background: -webkit-linear-gradient(left , $colorSTART, $colorEND);
	}
	@else {
		background: -webkit-linear-gradient(left , $colorSTART, $colorEND);
	}
	background: -o-linear-gradient($direction , $colorSTART, $colorEND );
	background: -moz-linear-gradient($direction,$colorSTART, $colorEND );
	background: linear-gradient(to $direction , $colorSTART, $colorEND );
}

@mixin height($a , $b){
  height: -webkit-calc(#{$a} - #{$b});
  height:    -moz-calc(#{$a} - #{$b});
  height:         calc(#{$a} - #{$b});
}

@mixin width($a , $b){
  width: -webkit-calc(#{$a} - #{$b});
  width:    -moz-calc(#{$a} - #{$b});
  width:         calc(#{$a} - #{$b});
}

%view100{
	height:100%;
	width:100%;
}

%positionTop{
	position:absolute;
	top:0px;
}

%left-nav-imgsize {
	width:$left-nav-div-width;
	height:$left-nav-div-width;
}

%picture-container-imagesize {
	width:$left-nav-div-width+10px;
	height:$left-nav-div-width+10px;
}

body{
	overflow:hidden;
	background-color:$background-color;
	@include background-linear-gradient(#AACAC1 , #45928E , right top);
}

// ************** HeadBar *************** //
.head-bar{
	@include headeBar ;
	
	> li{
		@include headBar-back;
	}
}

.head-big-bar{
	@include headBigBar ;

	> li{
		@include headBar-back;
		top:20px;
	}

	> img {
		margin-top:20px;
	}

	> p {
		font-weight: 100;
	}
}


// ************************** //

#intro-map{
	@extend %view100;
	z-index:$camera-z-index+1000;

	background:url('../../img2/map1.png') no-repeat center;
	background-size:100% auto;
	opacity:0.7;

	position:absolute;
}

/************** camera ************/ 
.camera{
	@extend %view100;
	position: relative;
	text-align: center;
	z-index: $camera-z-index;

	transition: all ease 0.2s;
}

#video{
	height:70%;
}

#snap{
	border-radius:50%;
	border: 5px solid $left-nav-color;
	width:$camera-snap-width;
	height:$camera-snap-width;
	margin: 1em auto auto auto;
	background-color: white;
	z-index: $camera-z-index;
}

.sub-map{
	width:$camera-snap-width+5;
	height:$camera-snap-width+5;

	position:absolute;
	bottom:22.5px;
	left:9%;

	background:url('../../img2/mapbtn.png') no-repeat;
	background-size:101%;
}

.sub-box{
	@extend .sub-map ;
	left:70%;
}



.left-nav{
	@extend %positionTop;

	background-color:$left-nav-color;
	height:100%;
	left:-$left-nav-width;
	width:$left-nav-width;
	text-align: center;
	z-index: $camera-z-index+2;
	font-size:$font-size;
	overflow-y:scroll;

	box-shadow:0px 0px 0px rgba(0,0,0,0.7);

	transition: all ease 0.2s;

}

.left-nav-div{
	height:90%;

	> div {
		@extend %left-nav-imgsize;
		margin:18px auto;
		border:2px white solid;
	}

	img{
		@extend %left-nav-imgsize;
	}


}

#more-photo{

	font-size: 1.5em;
	height:60px;
	color:$font-color;
}

// 
// 
/* picture-container */
.picture-container{
	@extend %view100;
	@extend %positionTop;

	left:100%;
	z-index: $camera-z-index+1;

	transition: all ease 0.2s;
}

.picture-container-header{
	@include headeBar ;

	> li{
		@include headBar-back;
	}
}

.picture-container-body{
	@include height(100% , $head-height+10 );
	@include width(100% , 20px );

	display:inline-flex;
	justify-content:space-between ;
	align-content:flex-start;
	flex-wrap:wrap;
	padding:10px 10px;

	overflow-y:scroll;

	> div {
		@extend %picture-container-imagesize;
		margin:5px 5px;
	}

	img{
		@extend %picture-container-imagesize;
	}
}

// 
// 
/* map-container */
#map{
	@extend .picture-container;
}
.map-header{
	@extend .picture-container-header;
}
.map-body{
	@include height(100% , $head-height);
	width:100%;
}

// 
// 
/* story-container */
#story{
	@extend .picture-container;
}
.story-body{
	@include height(100% , $head-height+$left-nav-div-width +60px);
	@include width(100% , 2em);
	padding:2em 1em 1em 1em ;
}
.story-footer{
	height:$left-nav-div-width+60px;
	width:100%;
}

.story-content{
	background-color:white;
	height:100%;
	font-size:$font-size;
}

.story-content-img{
	height:58%;
	text-align:center;
	border-bottom: black 1px solid;
	background-color:black;

	> img{
		height:100%;
	}
}

.story-content-text{
	height:42%;
	overflow-y:scroll;
}

.story-footer{
	overflow-x:scroll;
	display:inline-flex;

	> div {
		@extend %picture-container-imagesize;
		margin:5px 5px;
		background-color:$head-bar-color;

		transition: border 0.1s linear;
	}

	img{
		@extend %picture-container-imagesize;
	}
}

.story-show{
	border:red 3px solid !important;
}

// 
// 
/* 拍照後的check */
#snapShot{
	@extend %view100;
	@extend %positionTop;

	display: none;
	z-index: $camera-z-index+2;
}

.snapShot-check{
	background-color:$background-color;
	height:20%;
	text-align: center;
	display: flex;
	align-items: center;

	img{
		width:40%;
	}
}
