@import './reset';

$camera-background-color:#E9E3D7;
$camera-snap-width:80px;

$left-nav-width:40%;
$left-nav-color:#41637c;
$left-nav-div-width:75px;

$head-height:60px;
$head-bar-color:#c0d5c4;

$camera-z-index:10;

@mixin height($a , $b){
  height: -webkit-calc(#{$a} - #{$b});
  height:    -moz-calc(#{$a} - #{$b});
  height:         calc(#{$a} - #{$b});
}

%view100{
	height:100%;
	width:100%;
}

%positionTop{
	position:absolute;
	top:0px;
}

%head-bar-style{
	width:100%;
 	height:$head-height;
}

%body-style{
	width:100%;
 	@include height(100% , $head-height);
}

body{
	overflow:hidden;
}
.camera{
	@extend %view100;
	position: relative;
	text-align: center;
	z-index: $camera-z-index;
	background-color:$camera-background-color;

	transition: all ease 0.2s;
}

#video{
	height:80%;
}

#snap{
	border-radius:50%;
	border: 5px solid $left-nav-color;
	width:$camera-snap-width;
	height:$camera-snap-width;
	margin: 1em auto auto auto;
	background-color: white;
	z-index: $camera-z-index;
}

.left-nav{
	@extend %positionTop;

	background-color: $left-nav-color;
	height:100%;
	left:-$left-nav-width;
	width:$left-nav-width;
	text-align: center;
	z-index: $camera-z-index+2;
	overflow-y:scroll;

	transition: all ease 0.2s;

	> div {
		margin:18px auto;
		border:2px white solid;
		width:$left-nav-div-width;
		height:$left-nav-div-width;
	}

	img{
		width:$left-nav-div-width;
		height:$left-nav-div-width;
	}
}

#more-photo{
	font-size: 1.7em;
	color:white;
	height:60px;
}

/* picture-container */
.picture-container{
	@extend %view100;
	@extend %positionTop;

	background-color: white;
	left:100%;
	z-index: $camera-z-index;

	transition: all ease 0.2s;
}

.picture-container-header{
	@extend %head-bar-style;

 	background-color: $head-bar-color;
}

.picture-container-body{
	@extend %body-style;

	background-color:$camera-background-color;
}


/* 拍照後的check */
#snapShot{
	@extend %view100;
	@extend %positionTop;

	display: none;
	z-index: $camera-z-index+2;
}

.snapShot-check{
	background-color: $camera-background-color;
	height:20%;
	text-align: center;
	display: flex;
	align-items: center;

	img{
		width:40%;
	}
}
