body {
	margin:0;
}

.modal{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
	height:100vh;
	width:100vw;
	background: url("../img/background.jpg") no-repeat;
	text-align: center;
	margin: auto;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
   overflow: hidden;   
}

body.loading .modal{
	display:inline-flex;
	flex-wrap: wrap;
  align-content:center;
  justify-content:center;
}

div > img{
	width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.modal > img#logo{
	transform: scale(0.7);
}

/* intro-wiper 基本設定 */
.intro-container {
  width: 100vw;
  height: 100vh;
  background: url("../img/background.jpg");
}    
.intro-wrapper{
	display: flex;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  color:white;
}